# dependencies
node_modules/

# expo
.expo/
*.js
web-build/

# metro
.cache/
dist/

# build artifacts
*.apk
*.aab
*.ipa

# android
android/.cxx
android/app/.cxx
android/app/build
android/.gradle
android/app/.idea/

# ios
ios/build/

# vscode
.vscode/

# Other
.DS_Store
pm-debug.log*
yarn-debug.log*
yarn-error.log*
# .env
# .env.local

# React Native
.bundle/
vendor/
*.hprof